<!-- htmlmin:ignore -->
title = "test"
url = "/:all?*"
==
function onStart()
{
    $vuetober = [
        'token' => Session::token(),
    ];

    $this['vuetober'] = json_encode($vuetober);
}
==
<!-- htmlmin:ignore -->
<!DOCTYPE html>
<html>
    <head>
        <!-- meta -->
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1.0" name="viewport">
        <meta content="{{ vuetober }}" name="vuetober">

        <!-- title -->
        <title>test</title>
    </head>
    <body>
        <noscript>
            <strong>We're sorry but <%= options.name %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
