title = "Vuetober"
url = "/:all?*"
==
function onStart()
{
    $app = app();
    
    // allow cors requests in development
    if ($app->env !== 'development') {
        header("Access-Control-Allow-Origin: *");
    }

    // initial data
    $this['vuetober'] = json_encode([
        'env' => $app->env,
        'token' => Session::token(),
    ]);
}
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1.0" name="viewport">
        <title>Vuetober</title>
    </head>
    <body>
        <div>
            Production assets are not built.
        </div>
    </body>
</html>
