<!-- htmlmin:ignore -->
title = "test"
url = "/:all?*"
==
function onStart()
{
    $app = app();
    
    // allow cors requests in development
    if ($app->env === 'development') {
        header("Access-Control-Allow-Origin: *");
    }

    // initial data
    $this['vuetober'] = json_encode([
        'env' => $app->env,
        'token' => Session::token(),
    ]);
}
==
<!-- htmlmin:ignore -->
<!DOCTYPE html>
<html>
    <head>
        <!-- meta -->
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1.0" name="viewport">

        <!-- vuetober -->
        <!-- this will be auto injected in development -->
        <meta content="{{ vuetober }}" name="vuetober">

        <!-- title -->
        <title><%= options.name %></title>
    </head>
    <body>
        <noscript>
            <strong>We're sorry but <%= options.name %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
