//
// Global styles
//
html {
    font-family: 'Open Sans', sans-serif;

    //
    // Vue transitions
    //
    .fade-transition {
        transition: opacity .2s ease;
    }

    .fade-enter, .fade-leave {
        opacity: 0;
    }
}
